@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
    font-family: 'League Spartan', sans-serif; 
}

// Colors
$dark: black;
$light: white;
$secondary: white;

// Weight
$bold: 900;

// $theme-colors: (
//     blue: blueviolet
// );

// Margin, Padding


@import "bootstrap/scss/bootstrap";